<!-- _navbar.html -->
<style>
@media (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
    .navbar-nav .nav-item {
        float: none;
        display: block;
    }
}

.navbar {
    background-color: #EAF0F0; /* Background color */
}

.navbar .navbar-nav .nav-link {
    color: #1C7BB1 !important; /* Text color */
    font-weight: bold; /* Bold text */
}

.navbar .navbar-brand {
    color: #1C7BB1 !important; /* Brand text color */
    font-weight: bold; /* Bold text */
}
</style>

<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
