<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About this Dataset</title>
</head>
<body>
    <h1>About this Dataset</h1>
     <img src="{{ url_for('static', filename='images/brain2.jpg') }}" alt="Brain 2" style="width:300px;"><br>
    <p>According to the World Health Organization (WHO) stroke is the 2nd leading cause of death globally, responsible for approximately 11% of total deaths.</p>
     <p>This dataset is used to predict whether a patient is likely to get stroke based on the input parameters like gender, age, various diseases, and smoking status.</p>
     <p>Each row in the data provides relevant information about the patient.</p>
     <p>This dataset is taken from Kaggle.com</p>
     <a href="/">Return To The Main Page</a>
</body>
</html>