<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    <h1>Contact Us</h1>
     <img src="{{ url_for('static', filename='images/doctor1.jpg') }}" alt="Doctor 1" style="width:300px;"><br>
    <p>We hope you find this application useful.</p>
    <p>If you have any issues or need any further support please contact us at help.strokeapp@Miskatonic.uk</p>
    <a href="/">Return To The Main Page</a>
</body>
</html>