<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to The Miskatonic Teaching Hospital Stroke Prevention and Rehabilitation Centre Stroke
     Prediction Dataset</h1>
    <img src="{{ url_for('static', filename='images/hospital.png') }}" alt="Home Image" style="width:300px;"><br>
    <p>This dataset is for use by Miskatonic staff to help improve patient outcomes through identifying potential
        factors that may lead to a stroke in the future.</p>
    <a href="/login">Login</a><br>
    <a href="/register">Register for a New Account</a><br>
    <a href="/about">About this Dataset</a><br>
    <a href="/contact">Contact Us</a>

</body>
</html>