<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to The Miskatonic Teaching Hospital Stroke Prevention and Rehabilitation Centre Stroke
     Prediction Dataset</h1>
    <p>This dataset is for use by Miskatonic staff to help improve patient outcomes through identifying potential
        factors that may lead to a stroke in the future.</p>
    <a href="/Login">Login to Access The Dataset</a><br>
    <a href="/Register">Register For a New Account</a><br>
    <a href="/About">About This Dataset</a>

</body>
</html>